[submodule "UHE/vendor/spdlog"]
	path = UHE/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "UHE/vendor/GLFW"]
	path = UHE/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "UHE/vendor/imgui"]
	path = UHE/vendor/imgui
	url = https://github.com/rajaryan2007/imgui.git
[submodule "UHE/vendor/glm"]
	path = UHE/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "UHE/vendor/volk"]
	path = UHE/vendor/volk
	url = https://github.com/rajaryan2007/volk.git
[submodule "UHE/vendor/VulkanMemoryAllocator"]
	path = UHE/vendor/VulkanMemoryAllocator
	url = https://github.com/rajaryan2007/VulkanMemoryAllocator.git
[submodule "UHE/vendor/yaml-cpp"]
	path = UHE/vendor/yaml-cpp
	url = https://github.com/rajaryan2007/yaml-cpp.git
[submodule "UHE/vendor/imGuizmo"]
	path = UHE/vendor/imGuizmo
	url = https://github.com/rajaryan2007/ImGuizmo.git
[submodule "UHE/vendor/tracy"]
	path = UHE/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "UHE/vendor/box2d"]
	path = UHE/vendor/box2d
	url = https://github.com/rajaryan2007/box2d.git
[submodule "UHE/vendor/fastgltf"]
	path = UHE/vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "UHE/vendor/jolt"]
	path = UHE/vendor/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "UHE/vendor/msdf-atlas-gen"]
	path = UHE/vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "UHE/vendor/meshoptimizer"]
	path = UHE/vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "UHE/vendor/basis_universal"]
	path = UHE/vendor/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
